
<div style="margin-left: 30px; 
margin-right : 30px" ><h2>{{count+1}}</h2> </div>
 <div style = 
"background-color: black;
width : 60%; 
height: 600px;
float: center" class= "img-responsive center-block" >
<div *ngIf= "!isVideo">
<img [src]="[srcImage]"  style =
"float : center;
display: block;
    max-width:400px;
    max-height:600px;
    width: 400px;
    height: 600px;
    background-color: black"
alt="" class="img-responsive center-block" >
</div>
<div *ngIf= "isVideo">
<video style =
"float : center;
display: block;
    max-width:400px;
    max-height:600px;
    width: 400px;
    height: 600px;
    background-color: black" autoplay  class="img-responsive center-block"  >

<source [src]= "[srcImage]" type = "video/mp4">
</video>
</div>


</div>
<br>
<br>
<button class="btn btn-primary btn-lg mt-10" (click)="movePrevious()" 
*ngIf= "true"
style="float:left; margin-left:150px ">Show Previous</button>

<button class="btn btn-primary btn-lg mt-10"
(click)="moveNext()"  *ngIf= "true"
style="float:right; margin-right : 150px">Show Next</button>

