<div class = "banner">
    <h2 class="logo-font  center"> Justice for KPWD AE/JE Aspirants </h2>
    <h4 class="date" style= "color : red">Count Down From Notification Date: 
       {{days }} Days {{hours}} hours</h4>
</div>
<nav class= "navbar navbar-light">
    <div class= "container" style="font-size: 20px;  color: green " >
     
     
      <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" 
        routerLinkActive = "active"
        >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLink="/timeline" 
        routerLinkActive = "active">
       &nbsp; Time line
      </a>
      </li>
      <li class="nav-item">
          <a class="nav-link"
          routerLink="/"
          routerLinkActive ='active'>
          <i class="ion-gear-a"></i>&nbsp; Settings
        </a>
      </li>
      <li class="nav-item">
                <a class="nav-link">
                   Contact Us
                 </a>
       </li>
      </ul>
  
      
    </div>
  </nav>


